* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: var(--purple);
}

:root {
  --bg-color-light: #cdcdcd;
  --bg-color-dark: #212121;
  --purple: #a36cdb;
  --bg-topography: url(../assets/topography.svg);
  --switch-bg: url(../assets/moon.svg);
  --switch-bg-light: url(../assets/sun.svg);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-light: rgba(0, 0, 0, 0.1);
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background: var(--bg-color-light) var(--bg-topography) no-repeat center/cover;
  transition: 0.4s;
}

.elipse {
  width: 213px;
  height: 213px;
  border: 2px solid var(--purple);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elipse img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.instagram {
  font-weight: bold;
}

.trilho {
  width: 64px;
  height: 24px;
  border: 1px solid var(--purple);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 150px;
  position: relative;
  cursor: pointer;
}

.indicador {
  width: 32px;
  height: 32px;
  background: var(--purple) var(--switch-bg-light) no-repeat center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.5s;
}

.indicador:hover {
  outline: 8px solid var(--surface-color-light);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--purple);
  padding: 15px 125px;
  border-radius: 10px;
  font-weight: 600;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: background 0.4s;
}

.social {
  display: flex;
  gap: 18px;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.4s;
}

.social a:hover,
.link:hover {
  background: var(--surface-color-light);
}

/* -------------------------------------------------------- DARK ---------------------------------------------------------- */

body.dark {
  background-color: var(--bg-color-dark);
}

body.dark .indicador {
  left: 32px;
  background: var(--purple) var(--switch-bg) no-repeat center;
}

body.dark .indicador:hover {
  outline: 8px solid var(--surface-color);
}

.social a:hover,
.link:hover {
  background: var(--surface-color);
}
